:root {
  --padding-horizontal: 5%;
}

body {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

header img, footer img {
  max-width: 87px;
  height: 24px;
}

#top-contact {
  display: flex;
  background-color: #000000;
  color: #f5f5f5;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 40px;
  border-radius: 6px;
  font-size: small;
  background-color: #000000;
  color: #ADD8E6;
  
}

.nav-menu a:hover {
  color: #f5f5f5;
  transform: scale(1.05); 
}

.nav-menu a:active {
  color: #000000;
  background-color: aliceblue;
}

/* Styling the hamburger icon*/
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* This is for the close button which is initially hidden*/
.close-btn {
  display: none;
  font-size: 30px;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10001; /* This places the X icon on top of the menu items*/
}

/* Responsive styles*/
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 350px;
    background-color: white;
    transition: left 0.3s ease;
    padding: 20px;
    text-align: left;
    z-index: 9999;
    color: #000000;
    font-size: 1.5rem;
  }

  .nav-menu.active {
    display: flex;
    left: 0; /* Slide the menu into view*/
  }

  /* Shows the close button when the hamburger menu is active*/
  .nav-menu.active .close-btn {
    display: block;
  }

  .hamburger {
    display: block;
    background-color: none;
    position: relative;
    z-index: 10000;
  }
}

/* The following styles will apply to form fields*/
.form-container {
  margin-top: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea, select, .terms-container {
  /* width: 100%; */
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.terms-container > p {
  font-size: 1rem;
}

.social-media-field > input {
  padding-left: 40px;
}

/* Styling the social media icons and input fields*/
.social-media-field {
  position: relative;
  display: flex;
  align-items: center;
}

/* The following style tries to place the icons inside 
 * input field*/
.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* This will prevent the icon from blocking clicks on the input*/
}

/* Footer styles*/
footer {
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  flex-wrap: wrap;
}

.acloe-socials {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  flex-wrap: wrap;
}

.social-media-icons {
  display: flex;
  gap: 20px;
}

#custom-line {
  border: none;
  height: 1px;
  background-color: #D3D3D3;
  width: 100%;
  margin: 20px auto;
}

/* Media query for smaller screens for the footer section*/
@media (max-width: 768px) {
  .footer-navigation,
  .acloe-socials {
    flex-direction: column;
    align-items: center;
  }

  .social-media-icons {
    gap: 10px; /* Reduce padding for smaller screens */
  }
}